  <header class="header">
    <div id="header-div">
      <div id="title-row">
        <h1>Nex Play</h1>
        <form class="search-form" id="search-form">
          <input
            type="search"
            id="search-input"
            placeholder="   Search movies..."
          />
          <button type="submit">Search</button>
        </form>
      </div>
      <nav>
        <a href="#" id="home-link">Home</a>
        <span>|</span>
        <a href="watch_later.html" id="watch-later-link">watch later</a>
      </nav>
    </div>
  </header>
</html>
